<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>沈文杰个人博客</title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="个人博客,沈文杰,前端开发,前端技术">
    <meta name="description" content="沈文杰个人前端技术博客,分享前端技术和生活感悟">
    <link rel="shortcut icon" href="src/img/super.ico" type="image/x-icon"/>
	<link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
    <style> 
        p {
            margin: 0;
            padding: 0
        }
    </style>
</head>
<body style="margin: 0;font: 14px '微软雅黑', Arial, Helvetica, sans-serif;">
	<div id="app"></div>
	<script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[1] %>"></script>
</body>
</html>