<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>沈文杰的个人博客</title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="Stven My HomePage" name="description">
    <meta content="Steven" name="author">
    <link rel="shortcut icon" href="src/img/super.ico" type="image/x-icon"/>
	<link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
</head>
<body style="margin: 0;">
	<div id="app"></div>
	<script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[1] %>"></script>
</body>
</html>